<!DOCTYPE html>

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        <title>Easy Text</title>
    </head>
    <body>
    	<div class="w3-container">
        <h1>Your Document:<br/> {{ text }}</h1>
        <p><button class="w3-btn w3-border w3-jumbo" onclick="location.href='http://127.0.0.1:5000/type'">Type</button>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="w3-btn w3-border w3-jumbo" onclick="location.href='http://127.0.0.1:5000/cmd'">Use Command</button></p>
        <p><b>Commands and their Syntax:</b></p>
        <p>"Create [Document Title]" to create a new document</p>
        <p>"Open [Document Title]" to open an existing document</p>
        <p>"Insert [word or phrase] after [(different) word or phrase]" to insert text at a specific point</p>
        <p>"Delete [word]" to delete a specific word</p>
        <p>"Delete from [word or phrase] to [(different) word or phrase]" to delete more than one word</p>
        <p>"Copy from [word or phrase] to [(different) word or phrase]" to copy text</p>
        <p>"Paste after [word or phrase]" to paste at a specific point</p>
        <p>"Replace [word or phrase] with [word or phrase]" to replace certain words or phrases for another</p>
        <p>"Replace all [word or phrase] with [word or phrase]" to replace all of the certain words or phrases for another</p>
        <p>"Period" to add a period at the end of the document</p>
        <p>"Comma" to add a comma at the end of the document</p>
        <p>"Period after [word or phrase]" to add a period at a specific point</p>
        <p>"Comma after [word or phrase]" to add a comma at a specific point</p>
    </body>
</html>